.accord-bg-img {
    background-image: url(../image/png/accordian-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #46f800;
    box-shadow: none !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    /* box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%); */
}

.accordion-body {
    padding: 1rem 1.25rem;
    color: #ffffff;
    background-color: #46f800;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}


.accordion-button {
    background-color: transparent;
}